.cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cards section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 400px;
    height: 200px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
}

.cards section div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards section div button,
 .cards section div a {  /* Estilos a los botones internos de cada receta*/
    width: 25%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 30px;
    background:none;
    border: solid;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    overflow: hidden;  /*COn esta no existe el scroll*/
}

.cards section div button::after,
.cards section div a::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 100%;
    transition: left 0.5s ease-in-out;  /* Jugar con la transición*/
    background-color: black;
}

.cards section div button:hover::after,
.cards section div a:hover:after{
    left: 50%;
}

.cards section div .eliminar::after {   /* Efecto de derecha a izquierda*/
    border: solid 1px rgb(203, 38, 38);
    background-color: rgb(219, 25, 25);  
}

.cards section div .editar::after { 
    border: solid 1px rgb(44, 224, 17);
    background-color: rgb(44, 224, 17);  
}

.cards section div .detalle::after { 
    border: solid 1px rgb(17, 38, 224);
    background-color: rgb(17, 38, 224);  
}

.cards section div button::before, /*Estos son los seudoelementos*/
.cards section div a::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: -100%;
    transition: left 0.5s ease-in-out;

}

.cards section div .eliminar::before {    /*Efecto de Izquierda a derecha*/
    border: solid 1px rgb(203, 38, 38);
    background-color: rgb(219, 25, 25);  
}

.cards section div .editar::before { 
    border: solid 1px rgb(44, 224, 17);
    background-color: rgb(44, 224, 17);  
}

.cards section div .detalle::before { 
    border: solid 1px rgb(17, 38, 224);
    background-color: rgb(17, 38, 224);  
}


.cards section div button:hover::before, /*Estos son los seudoelementos*/
.cards section div a:hover::before{
    left: 0%;
    

}