main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.panel-control {
    width: 100%;
    height: 600px;
    display: flex;
    background-image: url('./public/fondo1.jpg'); /* Agrega la imagen de fondo */
    background-color: rgba(255, 255, 255, 0.7); /* Aplica un color blanco semitransparente */
    background-blend-mode: lighten; /* Mezcla la imagen con el color para dar un efecto de marca de agua */
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.panel-control nav {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./public/fondo5.jpg');
    background-color: rgba(255, 255, 255, 0.3);
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */ 
    background-blend-mode: lighten; 
    gap: 20px;
    height: 100%;
    justify-content: center;
}

.panel-control nav a {
    text-decoration: none;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;  /* Hancho de los Botones*/
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.panel-control nav a:hover {   /* Estilos cuando se hace hover */
    background-color: rgba(174, 223, 193, 0.473); /* Cambia el color de fondo */
    color: black; /* Color del texto cuando cambia el hover*/
    transform: scale(1.05); /* Añade un ligero zoom */
}

.panel-control section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .panel-control {
        flex-direction: column;
    }

    .panel-control nav {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}
